/* lodash
jquery */




body{
    background-color: #C3D1E0;
}
.panier{
    position: absolute;
    z-index: 100;
    right: 20px;
    top: 10px;
    width: 300px;
    height: auto;
    background-color: #C3D1E0;
    box-shadow: 2px 2px 2px 2px #225C9C;
    border-radius: 10px;
}
.panier h2{
    text-align: center;
}
.panier-items{
    display: flex;
    justify-content: space-between;
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 800px;
    margin-top: 200px;
    margin-left: 50px;
}
.img-item img{
    width: 80px;
    height: 80px;
    padding: 3px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px black;
    margin: 2px;
}
.total-item,.remove-item{
    margin-top: 40px;
    font-size: 20px;
    margin-right: 5px;
}
.card{
    padding: 20px;
}
.imageText{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 225px;
    background-color: #C3D1E0;
    box-shadow: 2px 2px 2px 2px #225C9C;
    border-radius: 10px;
    overflow: hidden;
}
.imageText img{
    height: 225px;
    width: 225px;
}
.quntiteBuy{
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 225px;
}
.prix-quantite{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.prix-stock{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.quantite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    height: 30px;
}
.buy{
    display: flex;
    justify-content: space-between;
    width: 80px;
}
.buy button:hover{
    background-color: #5993C9;
}
.ajouter button{
    height: 33.333px;
    width: 50px;
    border: none;
    border-radius: 5px;
}
.buy i{
    padding-top: 8px;
}
.buy i:hover{

}
.mince,.plus{
    height: auto;
    width: 30px;
    padding: 7px;
    border-radius: 5px;
    border: none;
}
.mince:hover, .plus:hover{
    background-color: #5993C9;
}

